<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <% var title = "КОНТУРБАЛТ" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link href="css/style.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#navbar">

<input type="checkbox" id="tog">
<label for="tog" id="ham">
    <span></span>
    <span></span>
    <span></span>
</label>

<nav class="nav-desktop">
    <ul class="list-unstyled">
        <li><a href="#intro"> Домой</a></li>
        <li><a href="#work"> Схема работы</a></li>
        <li><a href="#reviews"> Отзывы</a></li>
        <li><a href="#photo"> Фотографии<br/> наших клиентов</a></li>
        <li><a href="#findUs"> Как нас найти</a></li>
        <li><a href="javascript:void(0);" onclick="return false;">
                <i class="fa fa-phone"></i>
                +7 (812) 339-61-19
            </a>
        </li>
        <li><a href="javascript:void(0);" onclick="return false;">
                <i class="fa fa-phone"></i>
                +7 (921) 589-50-21
            </a>
        </li>
        <li><a href="javascript:void(0);" onclick="return false;">
                <i class="fa fa-envelope-o"></i>
                tchaykun@konturbalt.ru
            </a>
        </li>
    </ul>
</nav>

<header class="intro text-center white" id="intro" role="presentation">
    <div class="container">
        <h1 class="ribbon-banner">
            <span>КОНТУРБАЛТ</span>
        </h1>
        <button class="btn btn-default-lg btn-round btn-green btn-no-border" data-toggle="modal"
                data-target="#contactUsModal"
                role="button">Свяжитесь с нами!
        </button>
    </div>
</header>

<main role="main">

    <section class="white" id="work">
        <div class="container text-center">
            <h1 class="text-uppercase">Схема работы</h1>
            <hr class="subtitle-divider"/>
            <ul class="list-inline">
                <% var schemeLiClass = "col-xs-10 col-xs-offset-1 col-sm-4  col-md-2" %>
                <% var schemeLiClassFirst = "col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-2 col-md-offset-1" %>
                <% var schemeLiClassLast = "col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-2 col-md-offset-0" %>
                <li class="<%= schemeLiClassFirst %>">
                    <img src="img/icons/check.png" alt="">
                    <h4>Оставляете заявку на сайте или звоните по телефону, выбираете тур и определяетесь с датой</h4>
                </li>
                <li class="<%= schemeLiClass %> col-sm-offset-0">
                    <img src="img/icons/calendar.png" alt="">
                    <h4>Согласовываем с Вами тур и уточняем детали</h4>
                </li>
                <li class="<%= schemeLiClass %> col-sm-offset-0">
                    <img src="img/icons/creditcard.png" alt="">
                    <h4>Вы любым удобным способом оплачиваете тур</h4>
                </li>
                <li class="<%= schemeLiClass %> col-sm-offset-2 col-md-offset-0">
                    <img src="img/icons/document2.png" alt="">
                    <h4>Мы передаем вам
                        необходимые документы</h4>
                </li>
                <li class="<%= schemeLiClassLast %>">
                    <img src="img/icons/plane2.png" alt="">
                    <h4 style="display:none">В назначенный день
                        подаем автобус и
                        проводим экскурсию</h4>
                </li>
            </ul>
        </div>
    </section>

    <section class="container" id="reviews">
        <h1 class="text-center text-uppercase">Отзывы наших клиентов</h1>
        <hr class="subtitle-divider"/>
        <div class="slider" style="padding: 0px;">
            <% var reviewsPhoto = ["male.png", "female.png", "male2.png", "male.png", "female.png", "male2.png"]; %>
            <% reviewsPhoto.forEach(function(item){ %>
            <div class="effect2" style="background-color: white; margin-bottom: 25px; margin-right: 25px; width: 555px;">
                <div class="col-xs-12 col-sm-4 col-lg-3 text-center">
                    <img style="display: inline; margin-top: 20px;" src="img/characters/<%= item %>" height="128px" width="128px"/>
                </div>
                <div class="col-xs-12 col-sm-8 col-lg-9">
                    <h4>Счастливый Клиент</h4>

                    <small>Профессия</small>

                    <p class="blockquote-reverse"><i class="fa fa-angle-double-left"></i>Ab aspernatur
                        assumenda corporis, dolorem dolores enim eum, facere fugiat labore nemo
                        praesentium reiciendis rem repellat repellendus totam. Amet commodi ipsa
                        voluptatibus!<i class="fa fa-angle-double-right"></i></p>
                    <span class="fa fa-vk fa-2x icon-review" style="float: right; padding-bottom: 2rem;"></span>
                </div>
            </div>
            <% }); %>
        </div>
    </section>

    <section class="white" id="photo">
        <h1 class="text-uppercase text-center">Фотографии наших клиентов</h1>
        <hr class="subtitle-divider"/>

        <div class="container">

            <ul id="categories">
                <% for (var i = 1 ; i < 24 ; i++ ){ %>
                <li class="hex">
                    <div class="hexagon-content">
                        <img src="img/photo/<%= i %>.jpg" alt="" class="text-center"/>

                        <h1>Страна, город</h1>
                        <!--<p>Some sample text about the article this hexagon leads to</p>-->
                        <ul class="list-inline">
                            <li>
                                <span class="fa fa-heart-o fa-2x icon-review" data-toggle="modal"
                                      data-target="#contactUsModal" role="button"></span>
                            </li>
                            <li><span class="fa fa-vk fa-2x icon-review"></span></li>
                        </ul>
                    </div>
                </li>
                <% } %>
            </ul>

        </div>
    </section>
    <section class="map gray" id="findUs" style="height: 100%;">
        <ul class="list-inline">
            <li class="col-xs-12 col-md-9" style="height:400px">
                <div id="map" style="width: 100%; height: 100%;"></div>
            </li>
            <li class="col-xs-12 col-md-3 text-center">
                <div class="col-xs-8 col-xs-offset-2 col-md-10 col-md-offset-1">
                    <img src="img/logo.png" alt="Контурбалт" width="100%">
                </div>
                <div class="col-xs-12">
                    <h1><%= title %></h1>

                    <div class="map-marker">
                        <span class="fa fa-map-marker fa-4x"></span>
                        <address>
                            <p><strong>Наш адрес:</strong><br/>
                                Санкт-Петербург, В.О. 9-линия 34,<br/>
                                БЦ «Магнус», офис 201.
                            </p>
                        </address>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</main>

<footer>
    <div class="container">
        <ul class="list-inline text-center footer-list">
            <li class="col-xs-12 col-sm-6 col-sm-3">
                <span class="fa fa-phone fa-4x"></span>
                <address>
                    <p><strong>Телефон:</strong><br/>
                        +7 (812) 339-61-19<br/>
                        +7 (921) 589-50-21
                    </p>
                </address>
            </li>
            <li class="col-xs-12 col-sm-6 col-sm-3" style="color: black;">
                <span class="fa fa-envelope fa-4x"></span>
                <address>
                    <p><strong>Почта:</strong><br/>
                        tchaykun@konturbalt.ru
                    </p>
                </address>
            </li>
            <li class="col-xs-12 col-sm-6 col-sm-3">
                <div class="col-sm-offset-4">
                    <p class="footer-menu-header">Меню</p>
                    <ul class="list-unstyled footer-menu">
                        <li><a href="#">Наверх</a></li>
                        <li><a href="#work">Как мы работаем</a></li>
                        <li><a href="#reviews">Отзывы</a></li>
                        <li><a href="#photo">Фотографии наших клиентов</a></li>
                        <li><a href="#findUs">Как нас найти</a></li>
                    </ul>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-sm-3">
                <ul class="list-inline footer-social-list">
                    <li>
                        <a href="https://vk.com/">
                            <img src="img/social-icons/vk.png" alt="Вконтакте" height="50px"/>
                        </a>
                    </li>
                    <li>
                        <a href="http://facebook.com/">
                            <img src="img/social-icons/facebook.png" alt="Facebook" height="50px"/>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="col-xs-12">© <%= new Date().getFullYear() %> <%= title %></p>
    </div>
</footer>

<div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModal">
    <div class="modal-dialog">
        <div class="modal-content contact">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center contact-title">Оставьте заявку</h4>
            </div>
            <div class="modal-body text-center">
                <form id="contact" action="" method="post">
                    <fieldset>
                        <label for="inputName"></label>
                        <input type="text" id="inputName" placeholder="Имя*" tabindex="1" autofocus required/>
                    </fieldset>
                    <fieldset>
                        <label for="inputEmail"></label>
                        <input type="email" id="inputEmail" placeholder="Email" tabindex="2"/>
                    </fieldset>
                    <fieldset>
                        <label for="inputTel"></label>
                        <input type="tel" id="inputTel" placeholder="Телефон*" tabindex="4"
                               pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required/>
                    </fieldset>
                    <fieldset>
                        <label for="inputComment"></label>
                        <textarea id="inputComment" placeholder="Сообщение*" tabindex="5" required></textarea>
                    </fieldset>
                    <button class="btn btn-default-lg btn-round btn-green btn-no-border" type="submit" id="inputSubmit"
                            data-loading-text="Отправляется" role="button">Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script src="js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function (){
        $('.slider').slick({
            dots: true,
            arrows: false,
            infinite: true,
            speed: 500,
            slidesToShow: 2,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });

    var map;

    DG.then(function (){
        map = DG.map('map', {
            center: [59.941211, 30.276873],
            zoom: 16,
            scrollWheelZoom: false
        });
        DG.control.location({position: 'bottomright'}).addTo(map);
        DG.control.traffic().addTo(map);
        DG.marker([59.941211, 30.276873]).addTo(map).bindPopup('Санкт-Петербург, В.О. 9-линия 34, БЦ «Магнус», офис 201');
    });
</script>
</body>
</html>